*~
*.iml
Thumbs.db
/*/target
/*/out/
/*/build/
/*/overlays
*.idea
/local
/.gradle
*.settings
*.project
*.classpath
/bin/*
/target/
/roster.lock.db
/roster.mv.db
/roster.trace.db
/frontend/package-lock.json
/frontend/node_modules/
/frontend/node/
/backend/src/main/resources/static/index.html
/backend/src/main/resources/static/main.js
/backend/src/main/resources/static/vendor.js
/frontend/public/main.js
/frontend/public/vendor.js
